:root {
    --blue-color: #02a7f0;
    --orange-color: #f59a24;
    --light-orange-color: #fdead2;
    --light-gray: #d7d7d7;
    --gray-color: #686868;
}

h2 {
    color: var(--orange-color);
    align-self: center;
    margin: 3em 2em 2em 2em;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services {
    gap: 3em;
    width: 800px;
    align-self: center;
    display: flex;
    justify-content: center;
}
.produits {
    gap: 2em;
    width: 800px;
    align-self: center;
    display: flex;
    justify-content: center;
}
.services > div {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em;
}
.produits > div {
    background-color: var(--light-orange-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--gray-color);
}
.product-text {
    padding: 0.5em;
    padding-top: 1em;
}
.services i {
    position: relative;
    top: -30px;
    color: white;
    background-color: var(--blue-color);
    font-size: 2em;
    padding: 0.3em;
    border-radius: 50%;
}

.produits img {
    max-width: 260px;
}
.topnav {
    background-color: #f59a24;
    overflow: hidden;
    float: right;
}

.topnav a {
    float: left;
    color: #02a7f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #02a7f0;
    color: white;
}

.topnav a.active {
    background-color: #02a7f0;
    color: white;
}
#headerLogo {
    height: 100px;
}
#megaliste {
    list-style-type: none;
}
